go 1.21.5

use (
	./cmd

	./internal
	./internal/healthCheck
	./internal/lbalgorithms
	./internal/requests
	./internal/security

	./pkg
	./pkg/config
	./pkg/console
	./pkg/jsonutils
	./pkg/logs
	./pkg/server
	./pkg/system
	./pkg/websocket

	./webui
)
