<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <title>WebWeaver - Dashboard</title>
</head>
<body>
    <h1>WebWeaver</h1>
    <form hx-post="/hot-reload/">
        <button type="submit">Hot Reload</button>
    </form>
</body>
</html>