:root {
    --base-color: #f4f4f9;
    --text-color: #333;
    --nav-color:  #3b5998;
    --btn-hover-color: #0071ff;
}

.dark-mode {
    --base-color: #333;
    --text-color: #f4f4f9;
    --nav-color:  #0071ff;
    --btn-hover-color: #3b5998;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    background-color: var(--nav-color);
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #fff
}

#theme-switch {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#theme-switch svg {
    width: 30px;
    height: 30px;
    color: #fff;
    fill: #fff
}

#hot-reload {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--nav-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px;
}

#hot-reload:hover {
    background-color: var(--btn-hover-color);
    transform: translateY(-2px);
}

#hot-reload svg {
    width: 20px;
    height: 20px;
}

#server-holder {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px;
}

.server {
    background-color: var(--base-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.server:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.server svg {
    height: fit-content;
    margin-bottom: 10px;
}

.green-circle {
    background-color: green;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    display: inline-block;
}

.red-circle {
    background-color: red;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    display: inline-block;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    bottom: 0;
    margin-bottom: 10px;
    position: absolute;
}